@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="col">

    <div style="
        color: white;
        border: solid;
        border-style: none;
        padding: 91px;
        background-image: url(/images/backgrounds/logo3.png);
        background-size: cover;
        padding-top: 141px">
        <form asp-controller="Account" asp-action="Login"
              method="post">
            <div asp-validation-summary="ModelOnly"></div>

            @if (ViewData["ErrorMessage"] != null)
            {
                <div class="text-danger">@ViewData["ErrorMessage"]</div>
            }

            <label asp-for="UserName" class="col-md-4 control-label">نام کاربری</label>
            <div class="col-md-4">
                <input asp-for="UserName" class="form-control" placeholder=" username" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <label asp-for="Password" class="col-md-4 control-label">رمز عبور</label>
            <div class="col-md-4">
                <input asp-for="Password" class="form-control" placeholder="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RememberMe">مرا به خاطر بسپار</label>
                <input asp-for="RememberMe" />
                <span asp-validation-for="RememberMe"></span>
            </div>







            <button type="submit" class="btn btn-primary" style=" margin: 19px;">ورود</button>
            <h5 class="font-medium m-b-20" style="font-size: 16px">  ورود با استفاده از اکانت گوگل :</h5>

        </form>


        <div class="col-xs-12 col-sm-12 col-md-12 text-center">

            @{
                if (!Model.ExternalLogins.Any())
                {
                    <div>در حال حاضر امکان ورود با اکانت های دیگر وجود ندارد</div>
                }
                else
                {
                    <form method="post" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                        <div class="social">
                            @foreach (var provider in Model.ExternalLogins)
                            {

                                <button type="submit"
                                        value="@provider.Name"
                                        class="btn btn-warning   float-right " name="provider"
                                        title="   ورود با استفاده از اکانت گوگل  @provider.DisplayName ">
                                    @provider.DisplayName
                                </button>

                            }
                        </div>
                    </form>
                }
            }

        </div>
    </div>
    </div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}


